<h1>Hello Skeleton Screen</h1>


<code>
  <ul>
    <li>
      ng g module content-loader/pre-loader
    </li>

    <br>

    <li>
      ng g c preloader --module=PreLoader --export=true --skipTests=true --inlineTemplate=true
    </li>
  </ul>

</code>

<div class="card">
  <div class="card-head">
    <!-- Add content preloader for image -->
    <app-preloader *ngIf="!loaded" cWidth='100' cHeight='100' [circle]=true></app-preloader>
    <img *ngIf="loaded" src="assets/img/dev.png" alt="avatar">

    <div class="info">
      <!-- Add another content loader for text -->
      <app-preloader *ngIf="!loaded" cWidth='150'></app-preloader>

      <div *ngIf="loaded" class="name">
        <strong>Babatoonday Mattieu</strong>
      </div>

      <app-preloader *ngIf="!loaded" cWidth='150'></app-preloader>

      <div *ngIf="loaded" class="desc">
        Frontend Developer
      </div>
    </div>
  </div>

  <div class="card-body">
    <app-preloader *ngIf="!loaded" cWidth='100'></app-preloader>
    <strong *ngIf="loaded">About Me</strong>

    <app-preloader *ngIf="!loaded" cWidth='300' cHeight='100'></app-preloader>

    <div *ngIf="loaded" class="about">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Repellat asperiores tempora quasi nulla a,
      quos nemo voluptas provident earum unde totam!
      Autem consectetur aperiam cupiditate illum magni animi quae fugiat.
    </div>
  </div>
</div>

<!-- <app-preloader cWidth='100' cHeight='100'></app-preloader>
<app-preloader cWidth='200' cHeight='50'></app-preloader>

<app-preloader cWidth='100' cHeight='100' [circle]=true></app-preloader> -->
<h2>
  Alphabet Logo with CSS
</h2>

<div id="google"></div>


<div id="edubanc"></div>
